#sec1 {
	background-color: pink;
	font-size: 90px;
}

#sec2 {
	background-color: green;
	color: white;
}

#sec3 {
	background-color: orange;
	color: black;
}


p {
	background-color: aqua;
	font-weight: bold;
}

.gollum {
	width: 600px;
}



